html {
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

button {
  border-radius: 0;
  cursor: pointer;
}

input {
  border-radius: 0;
}

.caption {
  margin: 0.5rem;
}

/*----------------------------------------------------------------------------*
 * Common settings
 *----------------------------------------------------------------------------*/

header {
  height: 3.5rem;
  background-color: #444;
  color: white;
  display: flex;
  justify-content: space-between;
  /* In order to position search-form absolutely (relative to header) */
  position: relative;  
  /* Only needed for Version 2 to clip shifted out search form */
  overflow: hidden;
}

/* Logo and title */

.left {
  display: flex;
  align-items: center;
}

.left .logo-container {
  margin: 0 1rem;
}

.left .logo-container img {
  width: 2rem;
}

.left .title-container {
  font-size: 1.4rem;
  color: white;
}


/*----------------------------------------------------------------------------*
* Version 1: search bar immediately appearing
*----------------------------------------------------------------------------*/

/* Search toggle */

#search-toggle-1 {
width: 3.5rem;
background-color: #444;
}

#search-toggle-1:hover {
background-color: #333;
}

/* Search form */

#search-form-1 {
/* Positioned absolutely to header in order to overlay part of header */
position: absolute;
right: 3.5rem;  /* Width of search toggle */
top: 0;
height: 100%;
display: none;  /* Hide search form by default */
}
#search-form-1.active {
display: flex;  /* Display search form when search toggle is active */
}

/* Text bar of search form */
#search-text-1 {
/* Hide everyhing but logo: (100% - search-toggle - search-submit - logo) */
width: calc(100vw - 3.5rem - 3.5rem - 4rem + 1px);  /* Width of search-text */
height: 100%;
font-size: 1.2rem;
padding: 0 1rem;
background: #e5e5e5;
color: #333;
}
#search-text-1:hover {
background: #eee;
}
/* For mobile portrait: search-form hides all the header, including logo */
@media screen and (max-width: 400px) {
#search-text-1 {
  width: calc(100vw - 3.5rem - 3.5rem);  /* Width of search-text */
}  
}

/* Submit button of search form */
#search-submit-1 {
height: 100%;
width: 3.5rem;
background-color: #AED581;
}
#search-submit-1:hover {
background-color: #8BC34A;
}


/*----------------------------------------------------------------------------*
 * Version 2: search bar sliding in with transition
 *----------------------------------------------------------------------------*/

/* Search toggle */

#search-toggle-2 {
  width: 3.5rem;
  background-color: #444;
  z-index: 1;  /* Display it in front of search-form */
}

#search-toggle-2:hover {
  background-color: #333;
}

/* Search form */

#search-form-2 {
  /* Positioned absolutely to header in order to overlay part of header */
  position: absolute;
  /* Width of search-form minus width of search-toggle */
  right: calc(-1 * (100vw - 3.5rem - 4rem + 1px - 3.5rem));  
  top: 0;
  height: 100%;
  display: flex;
}
#search-form-2.active {
  right: 3.5rem;
  transition: right 0.3s;
}

/* Text bar of search form */
#search-text-2 {
  /* Hide everyhing but logo: (100% - search-toggle - search-submit - logo) */
  width: calc(100vw - 3.5rem - 3.5rem - 4rem + 1px);  /* Width of search-text */
  height: 100%;
  font-size: 1.2rem;
  padding: 0 1rem;
  background: #e5e5e5;
  color: #333;
}
#search-text-2:hover {
  background: #eee;
}
/* For mobile portrait: search-form hides all the header, including logo */
@media screen and (max-width: 400px) {
  #search-form-2 {
    right: calc(-1 * (100vw - 3.5rem)); /* Width of search-form */
  }
  #search-text-2 {
    width: calc(100vw - 3.5rem - 3.5rem);  /* Width of search-text */
  }  
}

/* Submit button of search form */
#search-submit-2 {
  height: 100%;
  width: 3.5rem;
  background-color: #AED581;
}
#search-submit-2:hover {
  background-color: #8BC34A;
}


/*----------------------------------------------------------------------------*
 * Version 3: no extra button, search bar appearing immediately
 *----------------------------------------------------------------------------*/

/* Search form */

#search-form-3 {
  height: 100%;
  /* In order to position search-text absolutely (relative to search-form) */
  position: relative;
}

/* Text bar of search form */
#search-text-3 {
  position: absolute;
  top: 0;
  right: 3.5rem;  /* Width of search-submit */
  display: none;  /* Hidden until search-submit is clicked */
  width: calc(100vw - 3.5rem - 4rem + 1px);  /* Width of search-text */
  height: 100%;
  font-size: 1.2rem;
  padding: 0 1rem;
  background: #e5e5e5;
  color: #333;
}
#search-text-3:hover {
  background: #eee;
}
/* For mobile portrait: search-form hides all the header, including logo */
@media screen and (max-width: 400px) {
  #search-text-3 {
    width: calc(100vw - 3.5rem);  /* Width of search-text */
  }  
}
#search-text-3.active {
  display: initial;
}

/* Submit button of search form */
#search-submit-3 {
  height: 100%;
  width: 3.5rem;
  background-color: #444;
}
#search-submit-3:hover {
  background-color: #333;
}


/*----------------------------------------------------------------------------*
 * Version 4: no extra button, search bar sliding in with 0.3s transition
 *----------------------------------------------------------------------------*/

/* Search form */

#search-form-4 {
  height: 100%;
  /* In order to position search-text absolutely (relative to search-form) */
  position: relative;
}

/* Text bar of search form */
#search-text-4 {
  position: absolute;
  top: 0;
  /* Width of search-text minus width of search-submit */
  right: calc(-1 * (100vw - 3.5rem - 4rem + 1px - 3.5rem));
  width: calc(100vw - 3.5rem - 4rem + 1px);  /* Width of search-text */
  height: 100%;
  font-size: 1.2rem;
  padding: 0 1rem;
  background: #e5e5e5;
  color: #333;
}
#search-text-4:hover {
  background: #eee;
}
/* For mobile portrait: search-form hides all the header, including logo */
@media screen and (max-width: 400px) {
  #search-text-4 {
    width: calc(100vw - 3.5rem);
    right: calc(-1 * (100vw - 3.5rem) - 3.5rem);
  }  
}
#search-text-4.active {
  right: 3.5rem;  /* Width of search-submit */
  transition: right 0.3s;
}

/* Submit button of search form */
#search-submit-4 {
  height: 100%;
  width: 3.5rem;
  background-color: #444;
  position: relative;  /* In order to make z-index work */
  z-index: 1;  /* Display it in front of search-text */
}
#search-submit-4:hover {
  background-color: #333;
}
